@font-face {
font-family: Nunito;
src: url(fonts/Nunito-Regular.ttf);
}

body {
background-color: #266b97;
}	

.sky {
position: relative;
text-align: center;
height: 468px;
width: 100vw;
background-color: #b9d6ef;
}
	.cloud {
	position: relative;
	z-index: 5;
	}
	.text {
	position: relative;
	}
		.title {
  		font-size: 72px;
  		font-family: Nunito;
  		color: rgb(254, 254, 254);
  		font-weight: bold;
  		line-height: 0.222;
  		text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.17);
  		position: relative;
  		z-index: 10;
  		text-align: center;
		}
		.subtitle {
  		font-size: 14px;
  		font-family: Nunito;
  		color: rgb(38, 107, 151);
  		line-height: 1.143;
  		text-align: center;
  		position: relative;
  		top: -30px;
  		z-index: 10;
		}
		FORM {
		position: absolute;
		top: 90px;
		width: 100%;
		}
		.input {
  		border-radius: 5px;
  		font-family: Nunito;
  		text-align: left;
  		background-image: linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(235,235,235) 100%);
  		box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.004),inset 0px 2px 5px 0px rgba(29, 26, 22, 0.2);
  		position: relative;
  		top: 0px;
  		left: 300 px;
 		width: 240px;
  		height: 33px;
  		z-index: 10;
  		padding: 3px;
		}
		.buttton_sub {
		font-size: 14px;
  		font-family: Nunito;
  		color: rgb(255, 255, 255);
  		line-height: 1.786;
  		text-align: center;
  		text-shadow: 0px 1px 1px rgba(29, 26, 22, 0.2);
  		font-weight: bold;
  		border-radius: 5px;
  		background-image: -webkit-linear-gradient( 90deg, rgb(250,185,55) 20%, rgb(255,255,255) 100%);
  		position: relative;
  		left: 10px;
  		top: 0px;
  		height: 43px;
  		z-index: 10;
		}

.horizon_sky {
position: relative;
background-color: #ddecfa;
height: 4px;
width: 100vw;
}

.horizon_sea {
position: relative;
background-color: #327dad;
height: 9px;
width: 100vw;
}

.sea {
position: relative;
text-align: center;
height: 323px;
width: 100vw;
background-color: #266b97;
}
		
		.ship {
		position: relative;
		z-index: 20;
		top: -25px;
		left: -170px;
		}
		.iceberg {
		position: relative;
		margin-top: -223px;
		height: 490px;
		width: 100vw;
		text-align: center;
		overflow: hidden;
		}
			.ice {
			position: relative;
			z-index: 15;
			}
			.ellipse1 {
			position: absolute;
			text-align: center;
			left: -110px;
			z-index: 25;
			top: 250px;
			width: 100vw;
			}
				.ellipse1::before {
				content: "113";
				font-size: 24px;
  				font-family: Nunito;
				position: absolute;
				z-index: 30;
				font-size: 24px;
				color: rgb(38, 107, 151);
				margin-top: 23px;
				margin-left: 14px;
				}
				.ellipse1::after {
				content: "DAYS";
				font-size: 24px;
  				font-family: Nunito;
				position: absolute;
				z-index: 30;
				font-size: 24px;
				color: rgb(243, 243, 243);
				margin-top: 80px;
				margin-left: -66px;
				}
			.ellipse2 {
			position: absolute;
			text-align: center;
			left: 0px;
			z-index: 25;
			top: 250px;
			width: 100vw;
			}
				.ellipse2::before {
				content: "09";
				font-size: 24px;
  				font-family: Nunito;
				position: absolute;
				z-index: 30;
				font-size: 24px;
				color: rgb(38, 107, 151);
				margin-top: 23px;
				margin-left: 21px;
				}
				.ellipse2::after {
				content: "HOURS";
				font-size: 24px;
  				font-family: Nunito;
				position: absolute;
				z-index: 30;
				font-size: 24px;
				color: rgb(243, 243, 243);
				margin-top: 80px;
				margin-left: -76px;
				}
			.ellipse3 {
			position: absolute;
			text-align: center;
			right: -110px;
			z-index: 25;
			top: 250px;
			width: 100vw;
			}
				.ellipse3::before {
				content: "59";
				font-size: 24px;
  				font-family: Nunito;
				position: absolute;
				z-index: 30;
				font-size: 24px;
				color: rgb(38, 107, 151);
				margin-top: 23px;
				margin-left: 21px;
				}
				.ellipse3::after {
				content: "MINS";
				font-size: 24px;
  				font-family: Nunito;
				position: absolute;
				z-index: 30;
				font-size: 24px;
				color: rgb(243, 243, 243);
				margin-top: 80px;
				margin-left: -68px;
				}
		
		
		
		