
		body {
		background-image: url(images/background.png);
		background-repeat: no-repeat;
		background-position: left top;
		background-size: width 100%;
		}
		.background {
		border-radius: 4px;
		background-image: -moz-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(235,235,235) 100%);
		background-image: -webkit-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(235,235,235) 100%);
		background-image: -ms-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(235,235,235) 100%);
		box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.004),inset 0px 2px 5px 0px rgba(29, 26, 22, 0.2);
		position: absolute;
		left: 319px;
		top: 217px;
		width: 240px;
		height: 37px;
		z-index: 14;
		}
		.title {
  		font-size: 72px;
  		font-family: "HouschkaPro";
  		color: rgb(254, 254, 254);
  		font-weight: bold;
  		line-height: 0.222;
  		text-align: left;
  		text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.17);
  		position: absolute;
  		left: 241.937px;
  		top: 82.768px;
  		z-index: 43;
		}
		.subtitle {
  		font-size: 14px;
  		font-family: "HouschkaPro";
  		color: rgb(38, 107, 151);
  		line-height: 1.143;
  		text-align: left;
  		position: absolute;
  		left: 346.134px;
  		top: 173px;
  		z-index: 42;
		}
		input::placeholder {
		font-size: 12px;
		font-family: "Arial";
		color: rgb(128, 128, 128);
		line-height: 2.083;
		text-align: left;
		position: absolute;
		left: 331px;
		top: 249.204px;
		z-index: 15;
		}
		button {
		border-radius: 4px;
		background-image: -moz-linear-gradient( 90deg, rgb(250, 185, 55) 20%, rgb(255,255,255) 100%);
		background-image: -webkit-linear-gradient( 90deg, rgb(250, 185, 55) 20%, rgb(255,255,255) 100%);
		background-image: -ms-linear-gradient( 90deg, rgb(250, 185, 55) 20%, rgb(255,255,255) 100%);
		position: absolute;
		left: 567px;
  		top: 217px;
  		width: 96px;
  		height: 40px;
  		z-index: 16;
		}
		.buttton_sub
		{
  		font-size: 14px;
  		font-family: "HouschkaPro";
  		color: rgb(255, 255, 255);
  		font-weight: bold;
  		line-height: 1.786;
  		text-align: left;
  		text-shadow: 0px 1px 1px rgba(29, 26, 22, 0.2);
  		position: absolute;
  		left: 576.134px;
  		top: 218px;
  		z-index: 17;
		}

	